<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace - 对应具体的接口的名字  -->
<mapper namespace="com.aowin.dao.Bicycle_pileMapper">

	<select id="select" resultType="com.aowin.model.Bicycle_pile">
		select * from bicycle_pile where station_id = #{station_id} and status = 2
	</select>
	
	<select id="select2" resultType="com.aowin.model.Bicycle_pile">
		select * from bicycle_pile where station_id = #{station_id}
	</select>
	<select id="select3" resultType="java.lang.Integer">
		select count(*) from bicycle_pile where station_id = #{station_id} and status = 1
	</select>
	<update id="update" parameterType="com.aowin.model.Bicycle_info">
		update 	bicycle_pile set status = 1,bicycle_id = #{bicycle_id} where pile_id = #{pile_id} and status = 2
	</update>
</mapper>