<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace - 对应具体的接口的名字  -->
<mapper namespace="com.aowin.dao.SyroleMapper">

	<insert id="insert" parameterType="com.aowin.model.Syrole" useGeneratedKeys="true" keyProperty="role_id">
		insert into syrole (ROLE_NAME,ROLE_DESCRIBE) values (#{role_name},#{role_describe})
	</insert>
	
	<update id="update" parameterType="com.aowin.model.Syrole">
		update syrole set ROLE_NAME = #{role_name},ROLE_DESCRIBE=#{role_describe} where ROLE_ID=#{role_id}
	</update>
	
	<select id="select" parameterType="com.aowin.model.Syrole" resultType="com.aowin.model.Syrole">
		select
			*
		from 
			syrole	
		<where>
			<if test="role_name != null and role_name != ''">
				and role_name like concat('%',#{role_name},'%')
			</if>
			<if test="role_describe != null and role_describe != ''">
				and role_describe like concat('%',#{role_describe},'%')
			</if>
		</where>
	</select>
	<select id="selectById" parameterType="java.lang.Integer" resultType="com.aowin.model.Syrole">
		select
			*
		from 
			syrole	
		where
			role_id = #{role_id}
	</select>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete from syrole where role_id = #{role_id}
	</delete>
	
</mapper>